framework: auto-detect
redirects: on
source https://www.nuget.org/api/v2

# Core
nuget Akka
nuget Akka.Remote
nuget Akka.Cluster
nuget Akka.Cluster.Sharding
nuget Akka.Logger.Serilog
nuget Akka.Cluster.Tools
nuget Akka.Serialization.Wire
nuget Newtonsoft.Json
nuget FsPickler
nuget Serilog
nuget Serilog.Sinks.ColoredConsole
nuget Serilog.Sinks.Seq
nuget System.Collections.Immutable

nuget Akkling >= 0.4.0
nuget Akkling.Persistence >= 0.4.0
nuget Akkling.Cluster.Sharding >= 0.4.0
nuget Akkling.TestKit >= 0.4.0

# Tests
redirects: on
source https://www.nuget.org/api/v2

nuget xunit
nuget xunit.runner.visualstudio

nuget FsUnit
nuget Akka.TestKit
nuget Akka.TestKit.Xunit2

group Build
    redirects: off
    source https://nuget.org/api/v2

    nuget FAKE
    nuget FSharp.Data

